{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid pd-md-4">
        <a class="navbar-brand" href="{% url 'store:home' %}">MKER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'store:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Products
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'store:home' %}">All</a></li>
                        <!-- dropdown with every category made -->
                        {% for category in categories %}

                        <li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name|title }}</a></li>

                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                    <ul class="navbar-nav me-auto mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-reset " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="small text-muted">Hello, {% if user.is_authenticated %} {{ request.user.name }} {% else %} please login {% endif %}
                                </div>
                                <span class="text-light fs15 fw500">Account &amp; Lists
                                </span>
                            </a>
                            <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <h6 class="card-title">My Account</h6>
                                        <ul class="list-group list-group-flush dropdown-account-link">
                                            {% if user.is_authenticated %}
                                            <a href="{% url 'account:dashboard' %}" class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Your Account</a>
                                            <a href="#" class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Orders</a>
                                            <a href="{% url 'account:logout' %}" class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Logout</a> {% else %}
                                            <a href="{% url 'account:login' %}" class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Login</a> {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="pe-sm-3" href="{% url 'cart:cart_summary' %}">
                <img id="cart-icon" src="{% static 'images/cart.png' %}"> {% with total_qty=cart|length %}
                <div id="cart-qty" class="d-inline-flex">
                    {% if total_qty > 0 %} {{ total_qty }} {% else %} 0 {% endif %}
                </div>
                {% endwith %}
            </a>
        </div>
    </div>

</nav>